<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="server.ServerUI" />
    <module name="EKrut_Server" />
    <option name="VM_PARAMETERS" value="--module-path C:\Users\liza\eclipse\javafx-sdk-19\lib --add-modules=javafx.controls,javafx.fxml" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="server.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>